
<div class="modal fade" id="modalTMainWeight">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">น้ำหนัก</h4>
                <button type="button" id="mdadw_bt_close" class="mdadh-bt-close close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">

                <div class="container-fluid">
                    <div class="row col-12">
                        <div class="col-2 padding-0">ว/ด/ป</div>
                        <div class="col-2 padding-0">ขนาดบรรจุ / Packing Size</div>
                        <div class="col-2 padding-0">จำนวนที่บรรจุได้ / Quantity</div>
                        <div class="col-2 padding-0">รวมยอด / Total</div>
                        <div class="col-1 padding-0">Operate By</div>
                        <div class="col-2 padding-0">Date</div>
                        <div class="col-1 padding-0">Check By</div>
                        <div class="col-2 padding-0">Date</div>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row col-12">
                        <div><input type="text" class="form-control form-control-sm"/></div>
                        <div><input type="text" class="form-control form-control-sm" /></div>
                        <div><input type="text" class="form-control form-control-sm"/></div>
                        <div><input type="text"  class="form-control form-control-sm"/></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>