@model List<BMR_MVC.Models.BomSFInfo>


<table class="table" style="font-size:10pt">
    <thead>
        <tr>
            <th>Item Code</th>
            <th>Item Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.itemRMCode</td>
                <td>@item.itemRMName</td>
            </tr>
        }
        </tbody>
</table>
