<table class="table" style="font-size:10pt">
    <thead>
        <tr>
            <th></th>
            <th>No.</th>
            <th>Equipment No.</th>
            <th>Name Equipment</th>
            <th>Cleaned by</th>
            <th>Date</th>
            <th>Check by</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td><button class="form-control form-control-sm"><i class="fa fa-plus"></i></button></td>
                <td></td>
                <td><input type="text" class="form-control form-control-sm"/></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
    </tbody>
</table>

